@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Kdam+Thmor+Pro&display=swap');  

@media(max-width: 600px){
    .content-header{
        background: linear-gradient(45deg, #1153FC ,#000000, #022c6b, #000000 );
        background-size: 300% 200%;
        animation: colors 12s ease infinite;
        height: 100vh;
    }
    .content-main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;

        width: 100%;
        height: 90vh;
    }
    .content-main img{
        display: none;
    }
    .container-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-main h1{
        color: #ffffff;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-size: 35px;
        
    }
    .bottom-border{
        border-bottom: 4px solid #1D97EF;
        text-align: right;
        text-align: left;
    }
    .container-form input {
        width: 230px;
        height: 26px;
        font-size: 14px;
        padding: 5px;

        border: none;
        border-radius: 3px;
        outline: none;
        margin-bottom: 6px;
    }
    .container-form button{
        background: #1153FC;
        color: #ffffff;
        
        font-size: 16px;
        font-weight: bold;
        border-radius: 3px;

        width: 210px;
        height: 33px;

        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .container-form button:active{
        background-color: #1153fc7c;
        color: #ffffff52;
    }
    .container-form a{
        border-top: 1px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        font-family: 'Heebo', sans-serif;
        text-decoration: none;

        width: 250px;
        padding-top: 10px;
        text-align: center;
    }
    @keyframes colors{
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 100%
        }
    }
}